#API url
SYMBOLS_CSV_URL = http://www.nasdaq.com/screening/companies-by-name.aspx?&render=download

#Database
DB_NAME = test2
DB_USER = root
DB_PASS = 

#Swiftmailer
MAILER_HOST = localhost
MAILER_USER = 
MAILER_PASSWORD = 
MAILER_EMAIL = test@localhost
MAILER_NAME = "Symbols"